#artist-page {
    #search {
        display: block;
    }

    #page {
        padding: 1vh;

        h1 {
            grid-column: 1/-1;
        }

        #artist-profile {
            min-height: 8vh;
            grid-column: 1/-1;
            padding: 1vh;

            position: relative;
        }

    }
}