#artist-page {
    #page {
        padding: 1vh;
        #songs {
            width: 100%;

            display: grid;
            grid-template-columns: repeat(6, 1fr);

            box-sizing: border-box;
            gap: 1vh;
        }

        h1 {
            grid-column: 1/-1;
        }

        #artist-profile {
            min-height: 8vh;
            grid-column: 1/-1;
            padding: 1vh;

            position: relative;
        }

    }
}