#download-page {

    #search {
        display: block;
    }

    #page {
        .grid {

        }
        #overlay.searching {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #00000077;
            backdrop-filter: blur(10px);
            top: 0;
        }

    }
}