#download-page {

    #search {
        display: block;
    }

    #page {
        #songs {
            width: 100%;

            display: grid;
            grid-template-columns: repeat(6, 1fr);

            box-sizing: border-box;
            padding: 1vh;
            gap: 1vh;
        }
        #overlay.searching {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #00000077;
            backdrop-filter: blur(10px);
            top: 0;
        }

    }
}