#library-page {
    #search {
        display: block;
    }

    #page {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        padding: 1dvh;
        gap: 1dvh;

        #playlists.grid {
            --columns: 5;
        }

        #songs.grid {
            --columns: 6;
        }
    }
}