.page {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1dvh;

    #search {
        align-self: center;
        background-color: var(--bg);
        height: 6dvh;
        box-sizing: border-box;

        width: 100%;

        border: 1px solid var(--border);
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #page {
        position: relative;
        height: 82dvh;

        overflow-y: scroll;
        background-color: var(--bg);
        box-sizing: border-box;

        border: 1px solid var(--border);
        border-radius: 8px;

        h1 {
            font-weight: 600;
        }

        .grid {
            --columns: 6;
            display: grid;
            grid-template-columns: repeat(var(--columns), 1fr);
            gap: 1dvh;
            box-sizing: border-box;
        }
    }
}


@media (max-width: 1024px) {
    .page {
        #page {
            height: 77dvh;

            .grid {
                --columns: 1 !important;
            }
        }
    }
}