.page {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1dvh;

    #search {
        transition: background-color 0.2s ease;
        align-self: center;
        background-color: var(--bg-light);
        height: 6dvh;
        box-sizing: border-box;

        width: 100%;

        border-radius: 2.5dvh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #search:hover {
        background-color: color-mix(in hsl, var(--bg-light) 95%, white 5%);
    }

    #page {
        position: relative;
        height: 82dvh;

        overflow-y: scroll;
        background: radial-gradient(var(--bg-light), var(--bg));
        box-sizing: border-box;

        border-radius: 8px;

        h1 {
            font-weight: 600;
        }

        .grid {
            --columns: 6;
            display: grid;
            grid-template-columns: repeat(var(--columns), 1fr);
            gap: 1dvh;
            box-sizing: border-box;
        }

        .large-playable {
            #play-button:hover {
                filter: brightness(0.85);
            }

            #play-button {
                transition: opacity .2s ease, bottom .2s ease;
                opacity: 0;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;

                border: none;
                outline: none;

                background-color: var(--primary);

                right: 0.5dvh;
                bottom: -0.5dvh;

                height: 6dvh;
                width: 6dvh;
                aspect-ratio: 1/1;

                border-radius: 50%;

                box-sizing: border-box;
                padding: 0.5dvh;

                .icon {
                    fill: var(--bg-light);
                }
            }
        }

        .large-playable:hover {
            #play-button {
                opacity: 1;
                bottom: 0.5dvh;
            }
        }
    }
}


@media (max-width: 1024px) {
    .page {
        #page {
            height: 77dvh;

            .grid {
                --columns: 1 !important;
            }
        }
    }
}