#radio-page {
    #search {
        display: block;
    }

    #page {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        padding: 1dvh;
        gap: 1dvh;
    }

    #overlay.searching {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #00000077;
        backdrop-filter: blur(10px);
    }

}