#searchbar {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 100;

    #searchbar-input {
        background: none;
        outline: none;
        border: none;
        font-size: 2rem;
        width: 100%;
        height: 6dvh;
        box-sizing: border-box;
        padding: 1dvh;
        caret-color: gray;

        &::placeholder {
            font-weight: 300;
        }
    }

    #searchbar-clear {
        position: absolute;
        right: 0;
        top: 0;
        height: 6dvh;
        width: 6dvh;
        display: flex;

        vertical-align: center;
        align-items: center;
        justify-content: center;

        .close {
            fill: var(--border);
        }
    }

    #searchbar-clear:hover .close{
        fill: var(--border-highlight);
    }

    #searchbar-results {
        position: absolute;
        width: 60%;
        background: var(--bg);

        border: 2px solid var(--border-highlight);
        border-radius: 8px;

        top: 180%;
        left: 20%;

        max-height: 70dvh;

        box-sizing: border-box;
        gap: 1dvh;

        overflow-y: scroll;

        .song {
            min-height: 8dvh;
            background: var(--bg-light);
            margin: 1dvh;

            border-radius: 4px;
            border: 1px solid var(--border-muted);

            box-sizing: border-box;
            padding: 0.5dvh;

            display: flex;
            justify-content: space-between;
            gap: 1dvh;

            #song-left {
                width: 100%;
                display: flex;
                gap: 1dvh;
                box-sizing: border-box;
                #cover-wrapper {
                    width: 7dvh;
                    height: 7dvh;
                    border-radius: 4px;
                    overflow: hidden;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    #cover {
                        width: 100%;
                        aspect-ratio: 1/1;
                        border-radius: 4px;

                        outline: none;
                        border: none;

                        object-fit: cover;
                    }
                }

                #info {
                    width: 100%;
                    h4 {
                        color: var(--text-muted);
                        font-weight: normal;
                    }
                }
            }

            #song-right {
                display: flex;
                overflow: hidden;

                align-items: center;
                vertical-align: center;
                justify-content: center;
                align-self: center;

                width: 5%;
                height: 60%;
                padding: .5dvh;

                .download {
                    fill: gray;
                    width: 80%;
                    height: 80%;
                }

                .downloading {
                    fill: var(--primary);
                }

                .downloaded {
                    fill: var(--primary);
                }
            }
            #song-right:hover .download {
                fill: lightgray;
            }

            #song-right:hover .downloaded {
                fill: var(--primary);
                filter: brightness(0.8);
            }

            #song-right:hover .downloading {
                fill: var(--primary);
                filter: brightness(0.8);
            }
        }

        .song:hover {
            border-color: var(--border-highlight);
        }

    }
    
}

@media (max-width: 1024px) {
    #searchbar {
        #searchbar-results {
            left: 0;
            width: 100%;

            .song {
                #song-left {
                    width: 90%;
                    text-wrap: wrap;
                    text-overflow: ellipsis;

                    #cover-wrapper {
                        width: 30%;
                        justify-content: center;
                        align-items: center;
                        vertical-align: center;
                        height: 100%;

                        #cover {
                            width: 100%;
                            aspect-ratio: 1/1;
                        }
                    }

                    #info {
                        width: 70%;
                    }
                }

                #song-right {
                    width: 10%;

                    .download {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}