.context-menu-button {
    position: relative;
    box-sizing: border-box;
    padding: 0.1vh;

    font-size: 1.2rem;
    height: 4vh;

    display: flex;
    align-items: center;

    .icon {
        display: flex;
        align-items: center;

        height: 80%;
        aspect-ratio: 1 / 1;

        svg {
            height: 100%;
            width: 100%;
        }
    }

    &:first-child {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    &:last-child {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    #list {
        display: flex;

        transition: max-height 0.5s ease;
        max-height: 0;
        overflow: hidden;

        position: absolute;
        top: -1px;
        left: calc(100% + 0.3vh);
    }

    #list.open {
        height: fit-content;
        max-height: 30vh;

        overflow: scroll;

        background: var(--bg-light);

        border: 1px solid var(--border-highlight);
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .icon {
        height: 3.5vh;
        stroke: var(--text-muted)
    }

    .description {
        display: flex;
        justify-content: flex-start;
        text-align: start;
        text-wrap: nowrap;

        margin-left: 0.5vw;

        color: var(--text-muted);
    }

    .arrow {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        margin-left: 2vw;
        justify-self: flex-end;

        height: 3vh;
        width: 3vh;

        stroke: var(--text-muted);
    }
}

.context-menu-button:hover {
    background: #FFFFFF22;

    .icon {
        stroke: var(--text);
    }

    .description {
        color: var(--text);
    }

    .arrow {
        stroke: var(--text);
    }
}