.context-menu-button {
    position: relative;
    box-sizing: border-box;
    padding: 0.1dvh 2dvh 0.1dvh 0.1dvh;

    &:has(#list) {
        padding: 0.1dvh 0.1dvh 0.1dvh 0.1dvh;
    }

    font-size: 1.2rem;
    line-height: 1.2rem;
    height: 4dvh;

    display: flex;
    align-items: center;

    .icon {
        display: flex;
        align-items: center;

        height: 80%;
        aspect-ratio: 1 / 1;

        svg {
            height: 100%;
            width: 100%;
        }
    }

    &:first-child {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    &:last-child {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    #list {
        display: flex;
        flex-direction: column;

        transition: max-height 0.5s ease;
        max-height: 0;
        overflow: hidden;

        position: absolute;
        left: calc(100% + 0.29dvh);
    }

    #list.open {
        height: fit-content;
        max-height: 30dvh;

        overflow: scroll;

        background: var(--bg-light);

        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;

        .context-menu-button {
            padding-right: 1dvh;
            border-radius: 0;
        }
    }

    .icon {
        height: 3.5dvh;
        stroke: var(--text-muted);
        stroke-width: 1px;
    }

    .description {
        display: flex;
        justify-content: flex-start;
        text-align: start;
        text-wrap: nowrap;

        margin-left: 0.5dvw;

        font-weight: 300;
        color: var(--text-muted);
    }

    .arrow {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        margin-left: 2dvw;
        justify-self: flex-end;

        height: 3dvh;
        width: 3dvh;

        stroke: var(--text-muted);
    }
}

.context-menu-button:hover {
    background: #6664;

    .icon {
        stroke: var(--text);
    }

    .description {
        color: var(--text);
    }

    .arrow {
        stroke: var(--text);
    }
}