.context-menu-button {
    position: relative;
    box-sizing: border-box;
    padding: 0.5vh;

    font-size: 1.2rem;
    height: 4vh;

    &.playlist {
    }

    display: flex;
    align-items: center;

    .icon {
        display: flex;
        align-items: center;

        height: 80%;
        aspect-ratio: 1 / 1;

        svg {
            height: 100%;
            width: 100%;
        }
    }

    &:first-child {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    &:last-child {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    #playlists {
        display: flex;

        transition: max-height 0.5s ease;
        max-height: 0;
        overflow: hidden;

        position: absolute;
        top: -1px;
        left: calc(100% + 0.3vh);
    }

    #playlists.open {
        height: fit-content;
        max-height: 30vh;

        overflow: scroll;

        background: var(--bg-light);

        border: 1px solid var(--border-highlight);
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .description {
        display: flex;
        justify-content: flex-start;
        text-align: start;
        text-wrap: nowrap;
    }

}

.context-menu-button:hover {
    background: #FFFFFF22;
}