#song-entry {
    padding: 0.5vh;
    box-sizing: border-box;

    overflow: hidden;

    h2 {
        width: 100%;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #artist {
        display: flex;
        height: 4vh;
        vertical-align: center;
        align-items: center;
        gap: 0.5vh;

        h4 {
            color: var(--text-muted);
            font-weight: 400;
        }

        img {
            border: 1px solid var(--border);
            border-radius: 8px;
            height: 100%;
            aspect-ratio: 1/1;
        }
    }
}

#radio-entry {
    padding: 0.5vh;
    box-sizing: border-box;

    overflow: hidden;

    h2 {
        width: 100%;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

#playlist-entry {
    padding: 0.5vh;
    box-sizing: border-box;

    overflow: hidden;

    h2 {
        width: 100%;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        opacity: calc(var(--i) * 0.6);
    }
}

.entry {
    position: relative;
    transition: border 0.1s ease;
    background: var(--bg-light);
    border: 1px solid var(--border);
    border-radius: 8px;
    box-sizing: border-box;

    #play-button {
        transition: opacity .2s ease, bottom .2s ease;
        opacity: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        border: none;
        outline: none;

        background-color: var(--primary);

        right: 0.5vh;
        bottom: 0.5vh;

        height: 6vh;
        width: 6vh;
        aspect-ratio: 1/1;

        border-radius: 50%;

        box-sizing: border-box;
        padding: 0.5vh;

        .icon {
            fill: var(--bg-light);
        }
    }

    #play-button:hover {
        filter: brightness(0.85);
    }

    &:hover #play-button {
        bottom: 1vh;
        opacity: 1;
    }

    #cover-wrapper {
        position: relative;
        width: 100%;
        aspect-ratio: 1/1;
        display: flex;

        justify-content: center;
        align-items: center;

        border-radius: 4px;
        background: color-mix(in hsl, var(--bg-light), white 10%);

        margin-bottom: 1vh;
    }

    #cover {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        position: relative;
        object-fit: cover;
    }
}

.entry:hover {
    border-color: var(--border-highlight)
}