#context-menu {
    position: relative;
    background: var(--bg-light);
    box-sizing: border-box;

    border-radius: 8px;
    padding: 0.3dvh;

    display: flex;
    flex-direction: column;

    border: 1px solid var(--border-highlight);

    hr {
        width: 100px;
        height: 2px;
    }

}