#sidebar {
    position: relative;
    transition: .1s ease;
    z-index: 1000;

    #sidebar-scroll {
        margin-top: 1dvh;
        overflow-y: scroll;
        overflow-x: visible;

        scrollbar-width: none;

        display: flex;
        flex-direction: column;
        gap: 0.5dvw;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    height: 100%;
    width: 100%;

    background: var(--bg);
    border: 1px solid var(--border);
    border-radius: 8px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .5dvw;
    padding-bottom: 0.5dvw;

    .sidebar-spacer {
        z-index: 1000;
        width: 80%;
        min-height: 2px;
        height: 2px;

        margin-left: auto;
        margin-right: auto;

        background: var(--border);

        border: none;
        border-radius: 1px;
    }
}

@media (max-width: 1024px) {
    #sidebar {
        #sidebar-scroll {
            margin: 0;
        }

        .sidebar-spacer {
            margin-top: 2dvw;
            margin-bottom: 2dvw;
        }
    }
}