#sidebar-entry {
    background: #222;
    border: 1px solid var(--border);
    border-radius: 6px;

    width: 4.5vw;
    height: 4.5vw;

    display: flex;

    box-sizing: border-box;
    padding: 0.1vh;

    justify-content: center;
    flex-shrink: 0;

    &.generic {
        transition: --hue-a 0.2s, --hue-b 0.2s;
        background: linear-gradient(to bottom right, hsl(var(--hue-a) 65% 50%), hsl(var(--hue-b) 65% 50%));
    }

    &.generic:hover {
        filter: brightness(1.2);
        transition: filter 0.2s;
        background: linear-gradient(to top right, hsl(var(--hue-b) 65% 50%), hsl(var(--hue-a) 65% 50%));
    }

    #entry-preview {
        align-self: flex-start;
        height: 100%;
        aspect-ratio: 1/1;

        border-radius: 4px;

        outline: none;
        flex-shrink: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
        }

        .icon {
            fill: var(--bg);
        }
    }
}

#sidebar-entry:hover {
    transition: 0.2s border-color ease;
    border-color: var(--border-highlight);
    border-width: 2px;

    #entry-preview {
        .icon {
            fill: var(--bg);
        }
    }
}