#sidebar-entry {
    background: #222;
    border: 1px solid var(--border);
    border-radius: 6px;

    margin-left: calc(5%);
    width: 90%;
    aspect-ratio: 1/1;

    display: flex;

    box-sizing: border-box;
    padding: 0.1dvh;

    justify-content: center;
    flex-shrink: 0;

    &.generic {
        filter: brightness(1.1);
        transition: --hue-a 0.2s, --hue-b 0.2s;
        background: linear-gradient(to bottom right, hsl(var(--hue-a) 65% 50%), hsl(var(--hue-b) 65% 50%));
    }

    &.generic:hover {
        filter: brightness(1.4);
        background: linear-gradient(to top right, hsl(var(--hue-b) 65% 50%), hsl(var(--hue-a) 65% 50%));
    }

    #entry-preview {
        align-self: flex-start;
        height: 100%;
        width: 100%;
        aspect-ratio: 1/1;

        border-radius: 4px;

        outline: none;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;

        img {
            width: 100%;
            border-radius: 4px;
            object-fit: cover;
        }

        .icon {
            fill: var(--bg);
            width: 70%;
            height: 70%;
        }
    }
}

#sidebar-entry:hover {
    transition: 0.2s border-color ease, filter 0.2s;
    filter: brightness(1.2);
    border-color: var(--border-highlight);
    border-width: 2px;

    #entry-preview {
        .icon {
            fill: var(--bg);
        }
    }
}