#sidebar {
    position: relative;
    transition: .1s ease;
    z-index: 1000;

    #sidebar-scroll {
        overflow-y: scroll;
        overflow-x: visible;

        scrollbar-width: none;

        display: flex;
        flex-direction: column;
        gap: 0.5vw;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    height: 96vh;
    width: 5.5vw;

    background: var(--bg);
    border: 2px solid var(--border);
    border-radius: 8px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    gap: 0.5vw;

    .sidebar-spacer {
        z-index: 1000;
        width: 4.5vw;
        min-height: 2px;
        height: 2px;

        margin-left: auto;
        margin-right: auto;

        background: var(--border);

        border: none;
        border-radius: 1px;
    }
}