#sidebar-user-wrapper {
    width: 100%;
    aspect-ratio: 1/1;
}

#sidebar-user-wrapper #user-content {
    z-index: 100000;
    position: absolute;
    display: flex;
    justify-content: flex-start;

    #sidebar-entry.user {
        border-radius: 12px;
        overflow: hidden;

        #entry-preview {
            border-radius: 10px;
            overflow: hidden;
            aspect-ratio: unset;

            width: 100%;

            h1 {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 100%;
                background-color: var(--color, #333);
                color: var(--bg-light);
                font-size: 3.2rem;
                font-weight: 500;
            }

            img {
                display: flex;
                align-items: center;
                justify-content: center;

                height: 100%;
                width: 120%;
                border-radius: 6px;
                object-fit: cover;
            }
        }

        #entry-content {
        }
    }
}


#sidebar-user-wrapper.opened #user-content {
    z-index: 100000;
    position: absolute;
    width: 20vw;
    height: fit-content;
    flex-direction: column;

    background: var(--bg-light);
    border: 1px solid var(--border-highlight);
    border-radius: 8px;

    gap: 0.3vh;
    padding: 0.5vh;

    #account-entry {
        height: 4.5vw;
        display: flex;

        background: var(--bg);

        box-sizing: border-box;
        padding: 0.5vh;
        gap: 1vh;

        border-radius: 8px;
        overflow: hidden;

        border: 1px solid var(--border);

        #preview {
            display: flex;
            flex-shrink: 0;
            height: 100%;
            aspect-ratio: 1/1;
            h1 {
                border-radius: 6px;
                height: 100%;
                background-color: var(--color, #333);
                color: var(--bg-light);
                font-size: 3.2rem;
                font-weight: 500;

                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            img {
                display: flex;
                align-items: center;
                justify-content: center;

                height: 100%;
                width: 100%;
                border-radius: 6px;
                border: 1px solid var(--border);
                object-fit: cover;
            }
        }

        h2 {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
        }

        &.add {
            display: flex;
            justify-content: center;
            align-items: center;

            .icon {
                fill: var(--border);
            }


            &.open {
                height: 25vh;

                #form {
                    position: relative;
                    width: 100%;
                    height: 100%;

                    display: flex;
                    flex-direction: column;

                    h3 {
                        font-size: 1.4rem;
                        display: flex;
                        gap: 0.3vw;
                        vertical-align: center;
                    }

                    button {
                        transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
                        position: absolute;
                        bottom: 0.5vh;
                        right: 0.5vh;
                        width: 30%;
                        height: 20%;

                        background-color: var(--bg-light);
                        border: 1px solid var(--border);
                        border-radius: 4px;
                    }

                    button:hover {
                        background-color: var(--primary);
                        border-color: var(--primary);
                        color: var(--bg);
                    }

                    input[type=text] {
                        outline: none;

                        height: 16%;
                        box-sizing: border-box;
                        padding: 0.2vh;
                        font-size: 1.1rem;

                        background: var(--bg-light);
                        border: 1px solid var(--border);
                        border-radius: 4px;
                        margin-bottom: 2vh;
                    }

                    input[type=file] {
                        height: 17%;
                        box-sizing: border-box;
                        font-size: 1.1rem;
                    }
                    input[type=file]::file-selector-button {
                        box-sizing: border-box;
                        padding: 0.2vh;
                        font-size: 1.1rem;

                        color: var(--text);
                        background: var(--bg-light);
                        border: 1px solid var(--border);
                        border-radius: 4px;
                    }
                }
            }
        }
    }

    #account-entry:hover {
        border: 1px solid var(--border-highlight);

        &.add {
            .icon {
                fill: var(--border-highlight);
            }
        }
    }
}

@media (max-width: 1024px) {
    #sidebar-user-wrapper.opened {
        #user-content {
            width: 93vw;

            #account-entry {
                height: 8vh;

                &.add.open {
                    height: 30vh;
                }
            }
        }
    }
}