@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --bg-dark: oklch(0 0.0043 163deg);
    --bg: oklch(.15 0.0043 163deg);
    --bg-light: oklch(.25 calc(0.0043 * .8) 163deg);

    --text: oklch(1 0.0028666666666666667 163deg);
    --text-muted: oklch(.8 0.0028666666666666667 163deg);

    --border-highlight: oklch(.6 0.0043 163deg);
    --border: oklch(.4 0.0043 163deg);
    --border-muted: oklch(.3 0.0043 163deg);

    --gradient: linear-gradient(0deg, oklch(.15 0.0043 163deg), oklch(.25 calc(0.0043 * .8) 163deg));

    --primary: oklch(1 .5 270deg);
    --secondary: oklch(1 .34 300deg);

    --error: oklch(.8 max(min(calc(0.0043 * 2), .4), .2) 20deg);
    --warning: oklch(.8 max(min(calc(0.0043 * 2), .4), .2) 100deg);
    --success: oklch(.8 max(min(calc(0.0043 * 2), .4), .2) 150deg);
    --info: oklch(.8 max(min(calc(0.0043 * 2), .4), .2) 260deg);

    background: var(--bg-dark);
}

* {
    color: var(--text);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#queue {
    position: absolute;
    z-index: 1000000;
    right: 2vh;
    top: 2vh;
    background: var(--bg-light);
    min-width: 10vw;
    padding: 1vh;
    box-sizing: border-box;
    border: 1px solid var(--border-highlight);
    border-radius: 8px;
}

#root {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    max-width: 100vw;
    max-height: 100vh;

    #left {
        top: 0;
        position: absolute;
        box-sizing: border-box;
        align-self: center;
        width: 6vw;
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 1vh;
        padding: 0.5vh;
    }

    #right {
        position: absolute;

        top: 0;
        left: 6vw;
        width: 94vw;

        #page-top {
            width: 94vw;
            height: 90vh;

            display: flex;
            flex-direction: column;

            box-sizing: border-box;

            gap: 0.5vh;
            padding: 0.5vh;

            justify-content: space-between;

        }

        #page-bottom {
            width: 94vw;
            height: 10vh;
            box-sizing: border-box;

            padding: 0.5vh;

            border-radius: 8px;

            img {
                border-radius: 3px;
            }
        }
    }
}

@media (max-width: 1024px) {
    #root {
        #left {
            width: 20vw;
            height: 88vh !important;
        }

        #right {
            position: absolute;
            width: 80vw;
            left: 20vw;

            #page-top {
                position: absolute;
                top: 0;
                width: 80vw;
                height: 88vh;
            }

            #page-bottom {
                position: absolute;
                top: 88vh;
                left: -20vw;

                height: 15vh;
                width: 100vw;
            }
        }
    }
}