@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --bg-dark: oklch(0 0.0043 163deg);
    --bg: oklch(.15 0.0043 163deg);
    --bg-light: oklch(.25 calc(0.0043 * .8) 163deg);

    --text: oklch(1 0.0028666666666666667 163deg);
    --text-muted: oklch(.8 0.0028666666666666667 163deg);

    --border-highlight: oklch(.6 0.0043 163deg);
    --border: oklch(.4 0.0043 163deg);
    --border-muted: oklch(.3 0.0043 163deg);

    --gradient: linear-gradient(0deg, oklch(.15 0.0043 163deg), oklch(.25 calc(0.0043 * .8) 163deg));

    --primary: oklch(1 .5 163deg);
    --secondary: oklch(1 .34 calc(360deg - 163deg));

    --error: oklch(.8 max(min(calc(0.0043 * 2), .4), .2) 20deg);
    --warning: oklch(.8 max(min(calc(0.0043 * 2), .4), .2) 100deg);
    --success: oklch(.8 max(min(calc(0.0043 * 2), .4), .2) 150deg);
    --info: oklch(.8 max(min(calc(0.0043 * 2), .4), .2) 260deg);

    background: var(--bg-dark);
}

* {
    color: var(--text);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#root {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    max-width: 100vw;
    max-height: 100vh;
}

#queue {
    position: absolute;
    z-index: 1000000;
    right: 2vh;
    top: 2vh;
    background: var(--bg-light);
    min-width: 10vw;
    padding: 1vh;
    box-sizing: border-box;
    border: 1px solid var(--border-highlight);
    border-radius: 8px;
}

#left {
    box-sizing: border-box;
    align-self: center;
    width: 6vw;
    height: 96vh;

    display: flex;
    flex-direction: column;

    gap: 1vh;
    padding-left: 1vh;

    justify-content: center;
}

#page-content {
    box-sizing: border-box;
    height: 100vh;
    width: 95vw;
    display: flex;
    flex-direction: column;

    padding: 1vh;
    gap: 1vh;

    justify-content: center;

    #bottom-bar {
        height: 10vh;
        background-color: var(--bg);
        box-sizing: border-box;

        border: 2px solid var(--border);
        border-radius: 8px;

        img {
            border-radius: 3px;
        }
    }
}