@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --bg-dark: oklch(0 0 68deg);
    --bg: oklch(.15 0 68deg);
    --bg-light: oklch(.2 calc(0 * .8) 68deg);

    --text: oklch(1 0 68deg);
    --text-muted: oklch(.8 0 68deg);

    --border-highlight: oklch(.4 0 68deg);
    --border: oklch(.3 0 68deg);
    --border-muted: oklch(.2 0 68deg);

    --gradient: linear-gradient(0deg, oklch(.15 0 68deg), oklch(.25 calc(0 * .8) 68deg));

    --primary: oklch(1 .5 68deg);
    --secondary: oklch(1 .34 68deg);

    --error: oklch(.8 max(min(calc(0 * 2), .4), .2) 20deg);
    --warning: oklch(.8 max(min(calc(0 * 2), .4), .2) 100deg);
    --success: oklch(.8 max(min(calc(0 * 2), .4), .2) 150deg);
    --info: oklch(.8 max(min(calc(0 * 2), .4), .2) 260deg);

    background: var(--bg-dark);

    max-width: 100dvw;
    max-height: 100dvh;
    overflow: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}

* {
    color: var(--text);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#queue {
    position: absolute;
    z-index: 1000000;
    right: 2dvh;
    top: 2dvh;
    background: var(--bg-light);
    min-width: 10dvw;
    padding: 1dvh;
    box-sizing: border-box;
    border: 1px solid var(--border-highlight);
    border-radius: 8px;
}

#root {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    width: 100dvw;
    height: 100dvh;
    max-width: 100dvw;
    max-height: 100dvh;
    overflow: hidden;

    #left {
        top: 0;
        position: absolute;
        box-sizing: border-box;
        align-self: center;
        width: 6dvw;
        height: 100dvh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 1dvh;
        padding: 0.5dvh;
    }

    #right {
        position: absolute;

        top: 0;
        left: 6dvw;
        width: 94dvw;

        #page-top {
            width: 94dvw;
            height: 90dvh;

            display: flex;
            flex-direction: column;

            box-sizing: border-box;

            gap: 0.5dvh;
            padding: 0.5dvh;

            justify-content: space-between;

        }

        #page-bottom {
            width: 94dvw;
            height: 10dvh;
            box-sizing: border-box;

            padding: 0.5dvh;

            border-radius: 8px;

            img {
                border-radius: 3px;
            }
        }
    }
}

@media (max-width: 1024px) {
    #root {
        width: 100dvw;
        height: 100dvh;
        max-width: 100dvw;
        max-height: 100dvh;
        overflow: hidden;

        #left {
            width: 20dvw;
            height: 85dvh !important;
        }

        #right {
            position: absolute;
            width: 80dvw;
            left: 20dvw;

            #page-top {
                position: absolute;
                top: 0;
                width: 80dvw;
                height: 85dvh;
            }

            #page-bottom {
                position: absolute;
                top: 85dvh;
                left: -20dvw;

                height: 15dvh;
                width: 100dvw;
            }
        }
    }
}